html, body {  
  height: 100%; 
  width: 100%;  
  margin: 0;  
  padding: 0; 
}     
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

h1 {
  font-family: 'Lato-Regular', 'Courier New', Courier, monospace;
}

p, span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'GillSansBold';
  src: url(/src/fonts/GillSansBold.otf)
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(/src/fonts/Lato-Regular.ttf)
}